<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="robot_description">
  
  <!-- 定义一个隐式的“world”链接 -->
  <link name="world"/>
  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0918484698410039 0.0118626397869027 0.00940035655045639"
        rpy="0 0 0" />
      <mass
        value="4.69019425963942" />
      <inertia
        ixx="0.0111472708597494"
        ixy="4.79722490803468E-06"
        ixz="0.00018828251383403"
        iyy="0.0112798943669259"
        iyz="-1.51564905911346E-05"
        izz="0.0186553267697464" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.0460351193300184 0.000664287195140036 0.0661039568725909"
        rpy="0 0 0" />
      <mass
        value="0.254561487975799" />
      <inertia
        ixx="0.000120472928076238"
        ixy="2.26543583769742E-06"
        ixz="-6.10454618895842E-05"
        iyy="0.000220909895675933"
        iyz="2.36014610913685E-06"
        izz="0.000147238974921357" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="1.80392507296012E-05 0.089980612315841 -0.0129528394303072"
        rpy="0 0 0" />
      <mass
        value="1.04400658098434" />
      <inertia
        ixx="0.00385525013994589"
        ixy="-6.68725878688045E-09"
        ixz="2.99491799048468E-08"
        iyy="0.000244306702463398"
        iyz="-3.58686064304778E-08"
        izz="0.00406415538149286" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0.0600000000000005 0 0.0780000000000011"
      rpy="1.5707963267949 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.0301224569910246 0.000883599117605438 -0.000516713303726193"
        rpy="0 0 0" />
      <mass
        value="0.360136694535127" />
      <inertia
        ixx="0.000113282281754132"
        ixy="-6.31617808768879E-05"
        ixz="4.09377249477502E-06"
        iyy="0.000296768955943741"
        iyz="1.6532350750976E-06"
        izz="0.000310858877897708" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0 0.179999999999999 0"
      rpy="0 0 1.5707963267949" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.00208191984204187 -0.00872426376719969 0.0945055992899921"
        rpy="0 0 0" />
      <mass
        value="0.45505308641721" />
      <inertia
        ixx="0.000720997859055122"
        ixy="1.81686408137648E-08"
        ixz="-1.23768861307491E-07"
        iyy="0.000586014625148731"
        iyz="0.000117229789116482"
        izz="0.000286461385408558" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.0599997753303093 0 0"
      rpy="1.5707963267949 0 -0.00011195880316143" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.0120838027260462 1.35341785578724E-06 0.00176162104997889"
        rpy="0 0 0" />
      <mass
        value="0.191964378686302" />
      <inertia
        ixx="7.82682990712604E-05"
        ixy="-2.15206620877223E-09"
        ixz="-3.05349682070758E-06"
        iyy="9.74815414689813E-05"
        iyz="-3.43061415533262E-10"
        izz="0.000110368050940256" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="1.71296968475843E-05 0 0.150993281525449"
      rpy="1.5707963267949 0 -3.14159265358979" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-0.000185952455726779 -6.21980742646768E-05 0.0479239638188426"
        rpy="0 0 0" />
      <mass
        value="0.00925955650346606" />
      <inertia
        ixx="1.37671170657922E-06"
        ixy="-5.21529221351692E-09"
        ixz="-3.1188993905911E-09"
        iyy="1.30961855892709E-06"
        iyz="-6.3376654525252E-10"
        izz="2.46287865412203E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.0588235294117647 0.0588235294117647 0.0588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5707963267949 0 1.57090828559806" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link_hand">
    <inertial>
      <origin
        xyz="2.5836835558299E-05 0.23768576071817 -0.307961515115712"
        rpy="0 0 0" />
      <mass
        value="0.0391687383342846" />
      <inertia
        ixx="6.71499866587837E-06"
        ixy="-2.08331911073749E-09"
        ixz="6.46637967332326E-09"
        iyy="2.05403608796018E-05"
        iyz="-2.40622212294787E-09"
        izz="2.10276718229709E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/link_hand.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/link_hand.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_hand"
    type="fixed">
    <origin
      xyz="-0.307999999999998 0 0.318"
      rpy="-1.5707963267949 0 1.5707963267949" />
    <parent
      link="link6" />
    <child
      link="link_hand" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link_right">
    <inertial>
      <origin
        xyz="2.85868230198716E-08 0.0221437264831057 -0.0167403803683987"
        rpy="0 0 0" />
      <mass
        value="0.0102982312448067" />
      <inertia
        ixx="1.44679463231283E-06"
        ixy="-4.38127423649047E-14"
        ixz="3.34279604266799E-12"
        iyy="1.52952805443002E-06"
        iyz="3.69443076421769E-08"
        izz="9.8537098278935E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/link_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/link_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_right"
    type="prismatic">
    <origin
      xyz="0 0.204632399732943 -0.307999999999999"
      rpy="1.5707963267949 1.5707963267949 0" />
    <parent
      link="link_hand" />
    <child
      link="link_right" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0.05"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link_left">
    <inertial>
      <origin
        xyz="3.30556357286405E-08 0.0221437299724128 -0.0167403787629088"
        rpy="0 0 0" />
      <mass
        value="0.0102982298696928" />
      <inertia
        ixx="1.44679401685397E-06"
        ixy="5.54138588072976E-13"
        ixz="3.82733670659506E-12"
        iyy="1.52952718497647E-06"
        iyz="3.69447036695126E-08"
        izz="9.85369759497396E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/link_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/link_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_left"
    type="prismatic">
    <origin
      xyz="0 0.204632399732943 -0.307999999999999"
      rpy="1.5707963267949 -1.5707963267949 0" />
    <parent
      link="link_hand" />
    <child
      link="link_left" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0.05"
      effort="100"
      velocity="1" />
    <mimic
      joint="joint_right"
      multiplier="-1"
      offset="0" />
  </joint>
</robot>
